header {
}

#test-flex {
  height: 10em;
  position: absolute;
  right: 0px;
}

/* logo-card holds the logo container ... setting font family for card */
#logo-card {
  font-family: "Roboto", sans-serif;
  height: 10em;
  width: 10.5em;
  position: absolute;
  right: 0px;
}

/* logo-container holds each element of the logo ... setting height of container*/
#logo-container {
  height: 10em;
  width: 10.5em;
}

/* each logo element has class of logo ... setting height of logo elements */
.logo {
  position: absolute;
  font-size: 4em;
  z-index: 4;
  visibility: hidden;
}

#b {
  top: 0.335em;
  left: 1.15em;
}

#eone {
  top: 0.26em;
  left: 1.315em;
}

#r {
  top: 0.525em;
  left: 1.66em;
}

#none {
  top: 0.4em;
  left: 1.9em;
}

#ione {
  top: 0.4em;
  left: 2.1em;
}

#etwo {
  top: 0.15em;
  left: 1.9em;
}

#m {
  top: 1.25em;
  left: 0.2em;
}

#c {
  top: 1.25em;
  left: 0.86em;
}

#k {
  top: 1.25em;
  left: 0.745em;
}

#ntwo {
  top: 1.25em;
  left: 1.2em;
}

#itwo {
  top: 1.25em;
  left: 1.36em;
}

#g {
  top: 1em;
  left: 1.22em;
}

#h {
  top: 1em;
  left: 1.563em;
}

#t {
  top: 0.99em;
  left: 1.725em;
}

/* each blinking element has class of logo-top ... setting height of logo elements */
.logo-top {
  position: absolute;
  font-size: 4em;
  z-index: 10;
}

#a {
  top: 0.335em;
  left: 1.15em;
  visibility: hidden;
}

#d {
  top: 0.26em;
  left: 1.315em;
  visibility: hidden;
}

#f {
  top: 0.525em;
  left: 1.66em;
  visibility: hidden;
}

#j {
  top: 0.4em;
  left: 1.9em;
  visibility: hidden;
}

#l {
  top: 0.4em;
  left: 2.1em;
  visibility: hidden;
}

#o {
  top: 0.15em;
  left: 1.9em;
  visibility: hidden;
}

#p {
  top: 1.25em;
  left: 0.2em;
  visibility: hidden;
}

#q {
  top: 1.25em;
  left: 0.86em;
  visibility: hidden;
}

#s {
  top: 1.25em;
  left: 0.745em;
  visibility: hidden;
}

#u {
  top: 1.25em;
  left: 1.2em;
  visibility: hidden;
}

#v {
  top: 1.25em;
  left: 1.36em;
  visibility: hidden;
}

#w {
  top: 1em;
  left: 1.22em;
  visibility: hidden;
}

#x {
  top: 1em;
  left: 1.563em;
  visibility: hidden;
}

#y {
  top: 0.99em;
  left: 1.725em;
  visibility: hidden;
}

#stripe-bounce {
  position: absolute;
  right: 0;
  width: 10em;
  height: 10.5em;
  width: 5;
  z-index: 7;
  animation: bounce 200s linear 3s infinite normal none;
}

@keyframes bounce {
  0% {
  }

  3% {
    transform: translate(2em, 1.2em) rotate(12deg);
  }

  8% {
    transform: translate(6em, -5em) rotate(60deg);
  }

  11% {
    transform: translate(3em, -6em) rotate(84deg);
  }

  20% {
    transform: translate(-2em, 3em) rotate(113deg);
  }

  25% {
    transform: translate(1em, -3em) rotate(182deg);
  }

  30% {
    transform: translate(3.5em, 0.5em) rotate(209deg);
  }

  35% {
    transform: translate(-1em, -4em) rotate(301deg);
  }

  40% {
    transform: translate(-1.5em, 2em) rotate(326deg);
  }

  42% {
    transform: translate(-1em, 0em) rotate(348deg);
  }

  47% {
    transform: translate(-4em, -1.2em) rotate(309deg);
  }

  50% {
    transform: translate(-2em, -1em) rotate(287deg);
  }

  53% {
    transform: translate(-0.75em, 0em) rotate(241deg);
  }

  62% {
    transform: translate(3em, -6em) rotate(84deg);
  }

  67% {
    transform: translate(-2em, 3em) rotate(113deg);
  }

  72% {
    transform: translate(1em, -3em) rotate(182deg);
  }

  77% {
    transform: translate(3.5em, 0.5em) rotate(209deg);
  }

  82% {
    transform: translate(-1em, -4em) rotate(301deg);
  }

  87% {
    transform: translate(-1.5em, 2em) rotate(267deg);
  }

  92% {
    transform: translate(-4em, 0em) rotate(186deg);
  }

  100% {
  }
}

#stripe {
  position: absolute;
  right: 0;
  width: 50em;
  height: 50em;
}

#red-stripe {
  visibility: hidden;
}

.open-stripe {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  0% {
  }
  50% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }

  100% {
    stroke-dashoffset: 0;
    transform: scaleX(0.37) scaleY(0.065) translate(40.1em, -266em)
      rotate(90deg);
  }
}
