header {
}

#test-flex {
  height: 80em;
  width: 80em;
  position: absolute;
  right: 0px;
}

/* logo-card holds the logo container ... setting font family for card */
#logo-card {
  font-family: "Roboto", sans-serif;
  height: 10em;
  width: 10.5em;
  position: absolute;
  right: 0px;
}

/* logo-container holds each element of the logo ... setting height of container*/
#logo-container {
  height: 10em;
  width: 10.5em;
}

/* each logo element has class of logo ... setting height of logo elements */
.logo {
  position: absolute;
  font-size: 4em;
}

#b {
  top: 0.335em;
  left: 1.15em;
}

#eone {
  top: 0.26em;
  left: 1.315em;
}

#r {
  top: 0.525em;
  left: 1.66em;
}

#none {
  top: 0.4em;
  left: 1.9em;
}

#ione {
  top: 0.4em;
  left: 2.1em;
}

#etwo {
  top: 0.15em;
  left: 1.9em;
}

#m {
  top: 1.25em;
  left: 0.2em;
}

#c {
  top: 1.25em;
  left: 0.86em;
}

#k {
  top: 1.25em;
  left: 0.745em;
}

#ntwo {
  top: 1.25em;
  left: 1.2em;
}

#itwo {
  top: 1.25em;
  left: 1.36em;
}

#g {
  top: 1em;
  left: 1.22em;
}

#h {
  top: 1em;
  left: 1.563em;
}

#t {
  top: 0.99em;
  left: 1.725em;
}

#stripe {
  position: absolute;
  right: 0;
  width: 50em;
  height: 50em;
}

#red-stripe {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  0% {
  }
  50% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }

  100% {
    stroke-dashoffset: 0;
    /* width: 1em; */
    /* height: 1em; */
    transform: scaleX(0.37) scaleY(0.065) translate(40.1em, -266em)
      rotate(90deg);
  }
}

/* .red {
  transform: rotate(90deg);
  animation-name: stripe;
  animation-duration: 2s;
  animation-direction: ease;
  animation-delay: 2s;
  transition-delay: 2s;
}

@keyframes stripe {
  0.0% {
  }
  100% {
    transform: rotate(90deg) translate(100px, 50px);
    width: 20%;
  }
} */
